body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

nav#topmenu ul {
    background: #444;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav#topmenu li {
    display: inline-block;
    font: 24px;
    height: 40px;
    line-height: 40px;
    padding: 20px;
}

nav#topmenu a {
    text-decoration: none;
    color: #fff;
}

section {
    margin-left: 20px;
}

h1 {
    font-size: 28px;
}

header > p {
    font-style: italic;
}

article > p {
    font-size: 24px;
}


footer {
    text-align: center;
    background: #444;
    color: #fff;
}